@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Awal Kode untuk menghaluskan transisi accordion FAQ pada TanyaJawab.jsx */
.item .activeIcon {
  @apply hidden;
  /* overflow: hidden; */
}

.item.active .inactiveIcon {
   @apply hidden;
  /* overflow: hidden; */
}

.item.active .activeIcon {
  @apply block;
  /* overflow: block; */
}

/*? ------------------start of NEW CODE ----------------------- */
.item .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
}

.item:not(.active) .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
}

.item.active .content {
  max-height: 200px;
  /* Sesuaikan dengan tinggi maksimum yang mungkin dicapai */
}

/*? ------------------end of NEW CODE ----------------------- */

/* ------------------start of OLD CODE ----------------------- */
/* .item:not(.active) .content { */
/* @apply h-0 overflow-hidden py-0; */
/* } */

/* .item.active .content { */
/* ! Kalau height diubah ke bukan bentuk angka, transition ga bisa berjalan; */
/* @apply h-[200px];  */
/* @apply h-auto;  */
/* } */
/* ------------------end of OLD CODE ----------------------- */
/* Akhir Kode untuk menghaluskan transisi accordion FAQ */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}